# Node dependencies
node_modules/

# Environment files
.env
Backend/.env
Frontend/.env


# Build outputs
dist/
build/

# Logs
*.log

# SQLite database
*.sqlite
Backend/database/*

# Certificates
certs/
*.pem
*.key
Backend/database/*

# System / Editor files
.DS_Store
.vscode/
.idea/
