@theme {
  --color-primary: #ffffff;
  --color-accent: #22d3ee;
  --color-accent-soft: #0093d7;
  --color-border-soft: rgba(255, 255, 255, 0.05);
  --color-border-strong: rgba(34, 211, 238, 0.4);
  --header-height: clamp(68px, 8vh, 82px);
  
  --color-navpanel: #00143c;
  --sidebar-bg: var(--color-navpanel);
  --sidebar-border: var(--color-border-soft);
  --sidebar-toggle-bg: rgba(255, 255, 255, 0.05);
  --sidebar-toggle-border: var(--color-border-strong);
  --sidebar-toggle-text: var(--color-accent-soft);
  --sidebar-toggle-hover-bg: var(--color-accent-soft);
  --sidebar-toggle-hover-text: #000000;
  --sidebar-link-bg: rgba(255, 255, 255, 0.05);
  --sidebar-link-border: var(--color-border-soft);
  --sidebar-link-text: var(--color-accent);
  --sidebar-link-hover-bg: var(--color-accent-soft);
  --sidebar-link-hover-text: #000000;
  --sidebar-active-text: var(--color-primary);
  --sidebar-active-glow: var(--color-accent);
  --sidebar-active-sheen: var(--color-accent-soft);
  --sidebar-active-hot: #ff1f4b;

  /* relative heights */
  --spacing-height-offset: 10vh;
  --spacing-body-screenHeight: 90vh;
  --spacing-width-offset:15vw;
  --spacing-width-screen:85vw;

  /* gradeint */
  --color-start:#0f172a;
  --color-mid: #0b1224;
  --color-end:#0c1428;
} 
