@theme {
  --color-primary: #ffffff;
  --color-accent: #22d3ee;
  --color-accent-soft: #0ea5e9;
  --color-border-soft: rgba(255, 255, 255, 0.05);
  --color-border-strong: rgba(34, 211, 238, 0.4);
  
  /* relative heights */
  --spacing-offset: 10vh;
  --spacing-body-screen: 90vh;

  /* gradeint */
  --color-start:#0f172a;
  --color-mid: #0b1224;
  --color-end:#0c1428;
}